NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/meubanco
JWT_SECRET=troque_este_valor

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=seu-token
INFLUX_ORG=MinhaOrg
INFLUX_BUCKET=MES-NextJs
INFLUX_MEASUREMENT=Test_01

#Process variables
METRICS_INTERVAL_SECONDS=5 //tempo-mínimo-entre-ciclos
DOWNTIME_THRESHOLD_SECONDS=30 //Tempo-para-iniciar-nova-paradas
CACHE_TTL_SECONDS=60 //Tempo-para-atualização-de-workcenters-e-turnos
